<% include header %>
	<div class="container snooze-container">
		<button class="btn btn-lg btn-danger snooze-button" id="snooze" type="button">Snooze</button>
	</div>
	
	<div class="container">
		<h2 class="text-center">
			<strong>Alarm Clock Time:</strong><br>
			<span id="clock">Not Set</span>
		</h2>
		<br><br>
		<h2 class="text-center">
			<strong>Wake Up Time:</strong><br>
			<span id="wakeupTime">Not Set</span>
		</h2>
	</div>
	
<% include footer %>